body {
    padding: 10px;
}
#item{
    border: 2px solid black;
    margin: 5px;
    list-style-type: none;
    padding-left: 0;

}
#picturedev{
    height: auto;
    width: 300px;
    border: 2px solid black;
    text-align: center;

}
#display{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 10 auto;
    padding: 10;
    
    
}  

