{% extends "auctions/layout.html" %}

{% block body %}
    <div class="col">

        {% if user.is_authenticated %}
            <h1>Create a new Auction Page:</h1>
            <form action="{% url 'create' %}" method="post" id="createNewAuc" name = "createNewAuc">

                {% csrf_token %}
                <input id="userId" name="userId" type="hidden" value={{ user.username }}>
                <label for="image"> Copy and paste link to image here: </label><br>
                <input id="image" name="image" type="text" ><br>
                <label for="title"> Auction Title*: </label><br>
                <input id="title" name="title" type="text" required><br>
                <label for="desc"> Item Description*: </label><br>
                <input id="desc" name="desc" type="text" required><br>
                <label for="starting_bid"> starting_bid*: </label><br>
                <input id="starting_bid" step=".01" min = 0.01 max = 49999.98 name="starting_bid" type="number" value="Starting bid:" required><br>
    
                
                <label for="category">Choose a category:</label>

                <select name="category" id="category">
                <option value="recreation">recreation</option>
                <option value="electronics">electronics</option>
                <option value="home">home</option>
                <option value="miscellaneous">miscellaneous</option>
                </select>
                
                <input type="submit"  value="Create Auction" >
            </form>

        {% else %}

            <h6>you need to sign in before making a new auction page</h6>
         {% endif %} 
    </div>


{% endblock %}