{% extends "auctions/layout.html" %}

{% block body %}
    <div class="col">
        
        {% if user.username == auc.creating_user.username %}
        As the Owner: If you choose to close the auction, the current highest bid will win.
            <form action="{% url 'item' auc.id %}" method="post" id="closeAuction" name = "closeAuction">
    
                {% csrf_token %}
                <input type="hidden" id="close" name="close" value="close" />
                <input type="submit" onclick="return confirm('Are you sure you want to close this Auction? The highest bidder will win.')" value="Close Auction" >
            </form>
            <br>
        {% endif %}
        {% if error %}
        <h2 style="color:red"> The bid you entered is not larger than the current highest bid of: $auc.largest_bid</h2> <br>
        {% endif %}
        {% if user.is_authenticated %}
            {% if remove == True %}
                <form action="{% url 'item' auc.id %}" method="post" id="remove_watchlist" name = "remove_watchlist">

                    {% csrf_token %}
                    <input id="auctionID" name="auctionID" type="hidden" value={{auc.auction.id}}>
                    <input id="userId" name="userId" type="hidden" value={{ user.username }}>
                    <input id="remove_watchlist" type="hidden" value = "remove_watchlist" name="remove_watchlist">

                    <input type="submit"  value="remove from watchlist" >
                </form>
            
            {% else %}
                <form action="{% url 'item' auc.id %}" method="post" id="watchlist" name = "watchlist">

                    {% csrf_token %}
                    <input id="userId" name="userId" type="hidden" value={{ user.username }}>
                    <input id="watchlist" type="hidden" value = "watchlist" name="watchlist">

                    <input type="submit"  value="add to watchlist" >
                </form>
            {% endif %}
            <br>
            
            Enter a Bid:
            <form action="{% url 'item' auc.id %}" method="post" id="biddingForm" name = "biddingForm">

                {% csrf_token %}
                <input id="userId" name="userId" type="hidden" value={{ user.username }}>
                
                {% if highest_bid %}
                    
                    <input step=".01" type="number" id="bid" name = "bid" min={{acceptable_bid}} max="50000.00" />
                {% else %}
                    
                    <input step=".01" type="number" id="bid" name = "bid" min={{acceptable_bid}} max="50000.00" />
                {% endif %}
                
                
                
                <input type="submit" onclick="return confirm('Are you sure you want to submit this bid?')" value="submit" >
            </form>

        {% else %}

            <h6>you need to sign in before making Bids</h6>
         {% endif %} 
    </div>
    <h2>{{auc.title}}</h2>
    Being sold by: {{auc.creating_user}}
    
    {% if highest_bid %}
        <h6> Current highest bid is: {{highest_bid|floatformat:2}}</h6>
    {% else %}
        <h6> Starting Bid: {{auc.largest_bid|floatformat:2}} </h6>
    {% endif %}
    <div id="picturedev">
        <img id="display" src ="{{auc.image}}">
    </div>
    <br>
    <h6>Item Description:</h6>
    
    {{auc.desc}}
    <br>
    <br>
    <h5> Bidding History:</h5>
    <ul>
        {% if bids.exists %}
            {% for bid in bids %}
                <li> {{bid.bid|floatformat:2}} was submitted by: {{bid.biding_user}} at {{bid.bid_input_time}}</li>
            {% endfor %}
        {% else %}
            There are currently no bids on this item.
        {% endif %}
    </ul>
  
    <br>
    <h5> Comments:</h5>
    <ul>

        {% if comments %}
            {% for comment in comments %}
                 <li>{{comment.user}}:<br> {{comment.comment}} </li>
            {% endfor %}
        {% else %}
                
            There are currently no comments on this item.
            
        {% endif %}
     
    </ul>
    {% if user.is_authenticated %}
    Write a comment:
        <form action="{% url 'item' auc.id %}" method="post" id="editingForm" name = "editingForm">

            {% csrf_token %}
            <input id="userId" name="userId" type="hidden" value={{ user.username }}>
            <textarea id="Text" class="text" cols="30" rows ="2" name="Text"></textarea>
        
            
            
            <input type="submit" value="submit" >
        </form>

    {% else %}

        <h6>you need to sign in before making comments</h6>
    {% endif %} 






    
    

{% endblock %}